
//= require 'materialize'
//= require_tree .
//= require_self

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("green", "base") !default;
@import 'materialize';
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-fixed {
	margin-bottom: -15px;
}

body {
	font-family: 'Muli';
}

.brand-logo {
	height: 50px;
	margin: 7px;
}


