// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
	font-size: 40px !important;
	border: none !important;
	color: black !important;
}

.job_edit_field {
	color: black !important;
}

strong {
	font-size: 17px;
	color: black;
}