<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h1>Browse Boats</h1>
		</div>
	</div>
	<div class="row">
		<% @boats.each do |boat| %>
			<%= render :partial => 'boats/boat', :object => boat %>
		<% end %>
	</div>
</div>
